<%=form_tag("/tweet/#{@board.id}/update", method: "POST", class: "rounded form-group") do%>
    <%= text_area_tag :content, @board.content, class: "alert form-control bg-white text-dark", size: "x4"%>
    <div class="d-flex w-100 justify-content-between">
        <small class="mb-1" ></small>
        <%= submit_tag("확인", class: "btn btn-link text-white text-monospace font-weight-bold")%>
    </div>
<%end %>