<div class= "rounded list-group-item flex-column bg-white text-dark">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"></h5>
      <small><%=@board.created_at%></small>
    </div>
    <p><%=@board.content%></p>
    <small class="mb-1" ><%=@board.ip%></small>
    
</div>

<div class="d-flex w-100 justify-content-between">
        <small class="mb-1" ></small>
        <a class="btn btn-link" href="/tweet/<%=@board.id%>/edit">수정</a>
</div>